#question {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.answer {
    text-align: left;
    margin-bottom: 20px;
} 

#score, #start {
    background-color: lightgrey;
    border-color: darkgray;
    color: black;
    margin-right: 20px;
}

#highscore {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border-color: white;
}

#highheader {
    background-color: white;
    border-color: white;
}

#hscore {
    background-color: white;
    border-color: white;
}